{% extends 'common.html' %}
{% load static %}
{% block common %}
<style>
body {
  background-image: url('{% static 'images/Library-Management-System-1024x653.jpg' %}');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>

     {% for x in messages %}
        <h3  style="color: yellow;background-color:blueviolet;font-size: 40px;font-family: 'Arial Narrow';text-align: center">
            {{ x }}
        </h3>
    {% endfor %}<center>
<form method="post" action="{% url 'onadminlogin' %}" style="background-color: black;width: 550px;height: 250px;margin-top: 90px">
 {% csrf_token %}
  <div class="mb-3" style="width: 500px">
    <label  class="form-label" style="color: white">Email address</label>
    <input type="email" class="form-control" name="l1">

  </div>
  <div class="mb-3" style="width: 500px">
    <label  class="form-label" style="color: white">Password</label>
    <input type="password" class="form-control" name="l2">
  </div>

  <button type="submit" class="btn btn-primary">Login</button>
</form></center>
{% endblock %}











