<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: yellow">LMS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
           <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'adminhome' %}?un={{ name }}" style="background-color: cornflowerblue;border-radius: 25px;color: darkred;font-weight: bold">AdminHome</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'addbook' %}?un={{ name }}" style="background-color: cornflowerblue;border-radius: 25px;margin-left:10px;color: darkred;font-weight: bold ">Add Book</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'bookdetail' %}?un={{ name }}" style="background-color: cornflowerblue;border-radius: 25px;margin-left:10px;color: darkred;font-weight: bold">Book Details</a>

        </li>
<li class="nav-item">
          <a class="nav-link active" href="{% url 'Book_del' %}?un={{ name }}" style="background-color: cornflowerblue;border-radius: 25px;margin-left:10px;color: darkred;font-weight: bold">Book Delete</a>

        </li>
          
           <li class="nav-item ">
          <a class="nav-link active" href="{% url 'logout' %}" style="background-color: cornflowerblue;border-radius: 25px;margin-left:10px;color: darkred;font-weight: bold">Logout</a>

        </li>

      </ul>
    </div>
  </div>
</nav>
</body>
</html>